.a{
	width:1000px;
	height: 1000px;
	background-color:darkolivegreen; 
	
}
img{
	width: 1000px;
	height: 700px;
}
div{
	width:200px;
	height:200px;
	background-color: lightpink;
	margin-top: 50px;
	margin-left: 90px;
	float: left;
}
.b{
	width:200px;
	height:200px;
	background-image:url('villa1.jpg') ;
	background-size:200px 200px;
	background-repeat: no-repeat;
	}
	.c{
		width:200px;
	height:200px;
	background-image:url('villa2.jpg') ;
	background-size:200px 200px;
	background-repeat: no-repeat;
}
.d{
	width:200px;
	height:200px;
	background-image:url('villa3.jpg') ;
	background-size:200px 200px;
	background-repeat: no-repeat;}

	.e{
		width: 1000px;
		height: 700px;
		background-color: lavender;
	
	}
	p{
		font-size: 10px;
	}
	 .f{
	 	width: 300px;
	 	height: 500px;
	 	background-color:lightgray;
	 	margin-top: 40px;
	 	margin-right: 0px;
	 }
	 .g{
	 	width:300px;
	height:500px;
	background-image:url('fur1.jpg') ;
	padding: 20px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	background-size: 300px 540px;
	background-repeat: no-repeat;
	 }
	 h3{
	 	color: brown;
	 }
	 p{
	 	color: brown;

	 }
	 .h{
	 	width: 1000px;
	 	height: 300px;
	 	background-color: lightblue;
	 }
	 .h p{
	 	text-align: center;
	 	font-size: 20px;
	 	color: black;
	 }
	 .i{
	 	width: 1000px;
		height:1000px;
		background-color:orange;
	 }

div{
	width:1000px;
		height:400px;
		background-color:lightcoral;
		margin: 0px 0px 0px 0px;

	 }
.j{
	width: 500px;
		height:300px;
		background-color:ivory;
		float:left;
	
}
.k{
		width: 500px;
		height:260px;
		background-color:green;
		float:right;
	background-image:url('plant.jpg') ;
	padding: 20px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	background-size: 500px 300px;
	background-repeat: no-repeat;
	
}

.m{

}
.m p{
	color:black ;
	text-align: center;
	font-size: 40px;
	font-family: cursive;
}
.n{
	width: 1000px;
	height: 300px;
	background-color: rosybrown;
}
.o{
	width: 500px;
	height: 300px;
	background-color: ghostwhite;
	float: left;
}
.p{
	width: 500px;
		height:260px;
		background-color:lightcyan;
		float:right;
	background-image:url('beach.jpg') ;
	padding: 20px 0px 20px 0px;
	margin: 0px 0px 0px 0px;
	background-size: 500px 300px;
	background-repeat: no-repeat;
}
.q{
	width: 1000px;
	height: 500px;
	background-color: tan;
background-image:url('house.jpg') ;
background-size:1000px 500px;
	background-repeat: no-repeat;
}
.r{
	width: 1000px;
	height: 500px;
	background-color: tan;
background-image:url('house1.jpg') ;
background-size:1000px 500px;
	background-repeat: no-repeat;
}